extends layout

block content
  #Person
    .grid_12
      h1 #{person.name.first} #{person.name.last}
      a(href='mailto:#{person.email_address}') #{person.email_address}

      form(action='/people/#{person.id}/notes', method='post')
        textarea(name='content') #{person.name.first} #{person.name.last} checked in.
        if person
          select(name='creator', required)
            option(value='') Select admin
            for person in people
              if person.admin
                  option(value='#{person.name.first} #{person.name.last}') #{person.name.first} #{person.name.last}
        input(type='submit', value='Add a note')

      #personNotes
        h3 NOTES
        for note in notes
          .personNote
            p= note.content
            span Posted by #{note.creator}. – #{note.created_at.toDateString()}
       
      #personHistory
        h3 PERSON HISTORY

        ul
          for event in timeline
            if event.subject == person.id
              li #{event.creator} #{event.description} – #{event.date.toDateString()}